<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <object id="Utils" type="Carvajal.Turns.Utils.Security.Utils, Carvajal.Turns.Utils">
    <property name="RegexByCountry">
      <dictionary key-type="string" value-type="string">
        <entry key="CO" value="%5E%5B0-9-%5D*%24"/>
        <entry key="PE" value="%3C(%5BA-Z%5D%5BA-Z0-9%5D*)%5Cb%5B%5E%3E%5D*%3E(.*%3F)%3C%2F%5C1%3E"/>
        <entry key="EC" value="%3C(%5BA-Z%5D%5BA-Z0-9%5D*)%5Cb%5B%5E%3E%5D*%3E(.*%3F)%3C%2F%5C1%3E"/>
        <entry key="VE" value="%3C(%5BA-Z%5D%5BA-Z0-9%5D*)%5Cb%5B%5E%3E%5D*%3E(.*%3F)%3C%2F%5C1%3E"/>
        <entry key="AR" value="%3C(%5BA-Z%5D%5BA-Z0-9%5D*)%5Cb%5B%5E%3E%5D*%3E(.*%3F)%3C%2F%5C1%3E"/>
      </dictionary>
    </property>
  </object>

  <object name="Template" type="Carvajal.Turns.Utils.Mail.MessageUtils, Carvajal.Turns.Utils">
  </object>


</objects>
