<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="MyRollingFileAppender" />
  </root>
  <appender name="MyRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\Logs" />
    <appendToFile value="true" />
    <maximumFileSize value="300MB" />
    <maxSizeRollBackups value="5" />
    <rollingStyle value="Size" />
    <threshold value="DEBUG" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{ddMMyyyy HH:mm:ss}] [%-5level] %message %exception%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="ERROR" />
    </filter>
  </appender>
</log4net>
